body {
  background: #fffffa;
}
#game {
  margin: 100px auto 75px;
  width: 100%;
  height: 0;
  padding-bottom: 60px;
  text-align: center;
}
#game div {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}
#game div::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,0.2);
  bottom: 0;
}
#result {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 35px 0;
  font-size: 20px;
  font-weight: 600;
  color: #616161;
  display: none;
}
button {
  display: block;
  margin: 0 auto;
  background: #BDBDBD;
  border: none;
  border-radius: 6px;
  padding: 7px 14px 7px;
  font-size: 15px;
  color: #fffffa;
  outline: none;
  cursor: pointer;
}
